<!DOCTYPE html>
<head>
    <title>Local Brewery Finder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <h1>Find a Brewery 🍺</h1>
    <% if (locals.brewery) { %>
        <div id="brewery-info">
            <h2 id="brewery-name"><%=brewery.name%></h2>
            <h3><%=brewery.address_1%></h3>
            <h3><a href="<%=brewery.website_url%>"><%=brewery.website_url%></a></h3>
        </div>
        <div id="options-menu">
            <button id="return-button" onclick="location.href='/'">Go Back</button>
            <% var endpoint = `/get-brewery-by-${searchMethod}` %>
            <form action=<%=endpoint%> method="POST">
                <input type="hidden" name="searchInput" value=<%=searchInput%>>
                <input type="submit" value="Re-roll">
            </form>
        </div>
    <% } else { %>
        <div id="get-brewery-by-city">
            <h2>Enter your city</h2>
            <form action="/get-brewery-by-city" method="POST">
                <input type="text" name="city" placeholder="city name">
                <input type="submit" value="Go">
            </form>
        </div>
    <% } %>
</body>